// width
.w-100n {
    width: 100%;
}

.w-auto {
    width: auto;
}

// height
.h-100n {
    height: 100%;
}

.h-auto {
    height: auto;
}

// text-align
.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

// margin
.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-l-5 {
    margin-left: 5px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-t-5 {
    margin-top: 5px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-b-10 {
    margin-bottom: 10px;
}

// padding
.p-5 {
    padding: 5px;
    box-sizing: border-box;
}

.p-10 {
    padding: 10px;
    box-sizing: border-box;
}

.p-20 {
    padding: 20px;
    box-sizing: border-box;
}

.p-l5 {
    padding-left: 5px;
    box-sizing: border-box;
}

.p-r-5 {
    padding-right: 5px;
    box-sizing: border-box;
}

.p-t-5 {
    padding-top: 5px;
    box-sizing: border-box;
}

.p-b-5 {
    padding-bottom: 5px;
    box-sizing: border-box;
}

.p-l-10 {
    padding-left: 10px;
    box-sizing: border-box;
}

.p-r-10 {
    padding-right: 10px;
    box-sizing: border-box;
}

.p-t-10 {
    padding-top: 10px;
    box-sizing: border-box;
}

.p-b-10 {
    padding-bottom: 10px;
    box-sizing: border-box;
}

.p-l-20 {
    padding-left: 20px;
    box-sizing: border-box;
}

.p-r-20 {
    padding-right: 20px;
    box-sizing: border-box;
}

.p-t-20 {
    padding-top: 20px;
    box-sizing: border-box;
}

.p-b-20 {
    padding-bottom: 20px;
    box-sizing: border-box;
}


// flex
.display-flex {
    display: flex;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}


.justify-content-center {
    justify-content: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}


.justify-content-flex-end {
    justify-content: flex-end;
}

.flex-1 {
    flex: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

// border
.b-1 {
    border: 1px solid #eee;
    box-sizing: border-box;
}

.b-r-1 {
    border-right: 1px solid #eee;
    box-sizing: border-box;
}

.b-l-1 {
    border-left: 1px solid #eee;
    box-sizing: border-box;
}

.b-t-1 {
    border-top: 1px solid #eee;
    box-sizing: border-box;
}

.b-b-1 {
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}

// border-radius
.br-4 {
    border-radius: 4px;
}

.br-50n {
    border-radius: 50%;
}

// background
.bg-white {
    background: white;
}

.bg-black {
    background: black;
}

// font-size
.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

// color
.color-success {
    color: #67C23A;
}

.color-warning {
    color: #E6A23C;
}

.color-danger {
    color: #F56C6C;
}

// 鼠标样式
.c-pointer {
    cursor: pointer;
}

// 超出
.overflow-hidden {
    overflow: hidden;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

// 超出省略号
.text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-overflow-ellipsis-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}